body {
    position: relative;
    min-height: 100vh;
    background: url(../imgs/bgs/music-bg.webp) center right / cover no-repeat fixed;
    border-image: fill 1 linear-gradient(rgb(0 0 0 / .8), rgb(0 0 0 / .7));
    isolation: isolate;
}

main {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 5rem 2rem;
    min-height: 100vh;
    gap: 3rem;
}

.bio-wrapper {flex: 0 1 70ch}

.bio-wrapper p {margin-block: 3rem}

.bio-wrapper strong {font-weight: 600}

.buttons-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.return-btn {display: none}

.img-wrapper {
    flex: 0 1 400px;
    height: 400px;
    position: relative;
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius);
}

@media (max-width: 768px) {
    .bio-wrapper h2 {text-align: center}
    .bio-wrapper p {line-height: 1.8}
    .return-btn {display: block}
}