body {
    background: url(../imgs/bgs/texture-bg.webp) center / cover no-repeat;
    border-image: fill 1 linear-gradient(rgb(0 0 0 / .5), rgb(0 0 0 / .5));
    position: relative;
}

main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    padding: 0 10vw;
    text-align: center;
}

h1 {
    font-weight: normal;
    color: var(--accent-color);
    font-size: clamp(2.5rem, 5vw, 5rem);
}

.checkmark {
    font-size: clamp(3rem, 7vw, 5rem);
    color: #32cd32;
    text-shadow: 0 0 1rem #32cd32;
    &::selection {background-color: transparent}
}

h3 {
    font-weight: 400;
    font-size: clamp(1rem, 2vw, 1.5rem);
    text-wrap: balance;
}