@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

/* Song Release Countdown Section */

#release-countdown {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(../imgs/bgs/street-bg.webp) center center fixed no-repeat;
    border-image: fill 1 linear-gradient(var(--dark-color), rgb(0 0 0 / .6), var(--dark-color));
    position: relative;
}

#release-countdown h2 {
    margin: 0 6vw 5vw;
    text-shadow: none;
    text-align: center;
    text-wrap: balance;
    font-size: clamp(2rem, 6vw, 4rem);
    z-index: 2;
}

#time-left-container {
    display: flex;
    gap: 2vw;
    z-index: 2;
}

#time-left-container span {
    font-size: 5vw;
    align-self: center;
}

.time-wrapper {
    text-align: center;
    width: clamp(60px, 17vw, 200px);
}

.time-left-number {
    font-family: "Orbitron";
    font-size: 10vw;
    font-size: clamp(2rem, 10vw, 7rem);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.4), 0 0 30px rgba(255, 255, 255, 0.3);
}

.time-unit {
    font-size: clamp(0.6rem, 2vw, 1.5rem);
    text-transform: uppercase;
}

/* Hero Section*/

.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    background: 
        linear-gradient(var(--dark-color), rgb(0 0 0 / .2), var(--dark-color)) center / cover no-repeat fixed,
        url(../imgs/bgs/texture-bg.webp) center / cover no-repeat fixed;
    border-image: fill 1 linear-gradient(transparent 75%, var(--dark-color));
}

.hero img {
    width: max(300px, 50%);
    filter: brightness(0.8);
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(-20%);
    z-index: 1;
}

.hero-text h1 {
    color: var(--accent-color);
    font-size: clamp(3rem, 7vw, 10rem);
    font-weight: 400;
    letter-spacing: 1px;
    line-height: .8;
}

.hero-text .subtitles {
    display: flex;
    width: 100%;
    width: min(100%, 30rem);
    justify-content: space-between;
    align-self: flex-end;
}

.hero-text .subtitles h3 {
    font-size: 2vw;
    font-weight: 300;
    font-size: clamp(1rem, 2vw, 2rem);
    text-shadow: 0 0 10px rgb(255 255 255 / .5), 0 0 20px rgb(255 255 255 / .4), 0 0 30px rgb(255 255 255 / .3);
}

@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    .hero-text {transform: none; margin-top: 0}
}

/* Featured Music Section */

.featured-music {
    display: flex;
    width: 100%;
    padding: 0 5vw;
    align-items: center;
    justify-content: space-around;
    min-height: 80vh;
    flex-wrap: wrap;
    gap: 3rem;
    background: url(../imgs/album-covers/hunter-new.jpg) center / cover no-repeat fixed;
    border-image: fill 1 linear-gradient(var(--dark-color), rgb(0 0 0 / .7), var(--dark-color));
    position: relative;
}

.featured-music .text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

.featured-music .text h2 {animation: breathe 7s ease infinite}

@keyframes breathe {
    0% {transform: scale(1)}
    50% {transform: scale(1.05)}
    100% {transform: scale(1)}
}

@media (max-width: 1024px) {
    .featured-music .text {
        text-align: center;
        margin: 0 10vw;
    }
    .featured-music .text .btn {align-self: center}
}

.featured-music .image {
    position: relative;
    border-radius: 20px;
    height: clamp(260px, 40vw, 500px);
    z-index: 2;
}

.featured-music .image img {
    width: clamp(260px, 40vw, 500px);
    height: auto;
    border-radius: 1.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
}

.featured-music .image img:hover {transform: scale(1.02)}

.featured-music .image::before, .featured-music .image::after {
    content: "";
    position: absolute;
    inset: -0.2rem;
    z-index: -1;
    background: conic-gradient(from var(--gradient-angle), red, rgba(255, 0, 0, 0.3), rgba(255, 0, 0, 0.3), red);
    border-radius: calc(1.5rem + 0.2rem);
    animation: rotation 2s linear infinite;
}

.featured-music .image::after {
    filter: blur(2rem);
    opacity: 0.5;
}

@keyframes rotation {
    0% {--gradient-angle: 0deg}
    100% {--gradient-angle: 360deg}
}

/* Links Section */

.links {
    padding: 10vw;
    min-height: 90vh;
    background: url(../imgs/bgs/stage-bg.webp) center top / cover no-repeat fixed;
    border-image: fill 1 linear-gradient(var(--dark-color) 50%, rgb(0 0 0 / .2) 80%, var(--dark-color));
    position: relative;
    text-align: center;
}

.links h2 {margin-block: 9rem 6rem}

.links-container {
    display: flex;
    justify-content: space-around;
    gap: 3rem;
    flex-wrap: wrap;
}

.link-wrapper {
    flex: 0 1 clamp(6rem, 20%, 12rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    position: relative;
    isolation: isolate;
}

.link-wrapper img {
    width: 100%;
    height: auto;
    transition: all 0.3s ease;
    transform-origin: center bottom;
}

.link-wrapper::before {
    content: '';
    position: absolute;
    aspect-ratio: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    top: 0%;
    inset: 0;
    transform-origin: 50% 50%;
    z-index: -1;
    filter: blur(10px) opacity(0.7);
    transition: 0.3s ease;
}

.link-wrapper:nth-child(1)::before {background-image: url(../imgs/link-icons/spotify-logo.webp)}
.link-wrapper:nth-child(2)::before {background-image: url(../imgs/link-icons/apple-music-logo.webp)}
.link-wrapper:nth-child(3)::before {background-image: url(../imgs/link-icons/amazon-music-logo.webp)}
.link-wrapper:nth-child(4)::before {background-image: url(../imgs/link-icons/youtube-logo.webp)}

.link-wrapper::after {
    content: '';
    position: absolute;
    width: max(70px, 60%);
    height: clamp(.5rem, 2vw, 1rem);
    bottom: -20px;
    border-radius: 50%;
    filter: blur(.5rem) opacity(0.5);
    z-index: 1;
    transition: all 0.3s ease;
}

.link-wrapper:nth-child(1)::after {background-color: #1ED760}
.link-wrapper:nth-child(2)::after {background-color: #df5dff}
.link-wrapper:nth-child(3)::after {background-color: #1e8dd7}
.link-wrapper:nth-child(4)::after {background-color: #ff0000}

.link-wrapper h3 {
    font-size: clamp(1.1rem, 3vw, 1.8rem);
    font-weight: 200;
    margin-top: 1rem;
    transition: all 0.3s ease;
    z-index: 2;
}

.link-wrapper:hover img {
    transform: scale(1.05);
    filter: saturate(1.5);
}

.link-wrapper:hover::before {
    filter: blur(1rem) opacity(0.8) saturate(1.5);
    scale: 1.1;
}

.link-wrapper:hover::after {
    transform: scale(1.1);
    filter: blur(10px) opacity(0.6);
}

.link-wrapper:hover h3 {font-weight: 400}

/* Embedded Spotify Section */

.embedded-spotify {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../imgs/bgs/arrow-grapich-bg.webp) center / cover no-repeat fixed;
    border-image: fill 1 linear-gradient(var(--dark-color) 25%, rgb(0 0 0 / .7) 75%, var(--dark-color));
    position: relative;
}


.iframe-wrapper {
    position: relative;
    width: max(260px, 50%);
    height: clamp(22rem, 30vw, 25rem);
    border-radius: 1.5rem;
    z-index: 2;
}

.iframe-wrapper::before, .iframe-wrapper::after {
    content: "";
    position: absolute;
    inset: -.2rem;
    z-index: 0;
    background: conic-gradient(from var(--gradient-angle), red, rgba(255, 0, 0, 0.3), rgba(255, 0, 0, 0.3), red);
    border-radius: inherit;
    animation: rotation 2s linear infinite;
}

.iframe-wrapper::after {
    filter: blur(1.5rem);
    opacity: 0.5;
}

.iframe-wrapper iframe {
    width: 100%;
    height: 100%;
    border-radius: calc(1.5rem - .2rem);
    position: relative;
    z-index: 1;
}

/* About section */

.about-section {
    display: flex;
    flex-wrap: wrap;
    gap: 5vw;
    padding: 10vw;
    position: relative;
    background: url(../imgs/bgs/texture-bg.webp) center right / cover no-repeat fixed;
    border-image: fill 1 linear-gradient(var(--dark-color) 10%, rgb(0 0 0 / .1) 75%,var(--dark-color));
    z-index: 0;
}

.about-section .image-wrapper {
    flex: 1 1 15rem;
    background: url(../imgs/profiles/hunter-new.jpg) center / 180% no-repeat;
    aspect-ratio: 1;
    border-radius: 1.5rem;
    position: relative;
}

.about-section .image-wrapper::before, .about-section .image-wrapper::after {
    content: "";
    position: absolute;
    inset: -.2rem;
    z-index: -1;
    background: conic-gradient(from var(--gradient-angle), red, rgba(255, 0, 0, 0.3), rgba(255, 0, 0, 0.3), red);
    border-radius: calc(1.5rem + .2rem);
    animation: rotation 2s linear infinite;
}

.about-section .image-wrapper::after {
    filter: blur(2rem);
    opacity: 0.5;
}

.about-section .text-wrapper {
    flex: 1 1 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    min-width: 200px;
}

.about-section .text-wrapper h2 {
    text-transform: lowercase;
    font-size: clamp(1.5rem, 4vw, 4rem);
}

.about-section .text-wrapper .btn {align-self: flex-end}

@media (max-width: 768px) {
    .about-section .image-wrapper {background-size: 250%}
    .about-section .text-wrapper :is(h2, p) {text-align: center}
    .about-section .text-wrapper .btn {align-self: center}
}

/* Newsletter Section */

.newsletter-section {
    padding-block: 3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    background: url(../imgs/bgs/newsletter-bg.webp) center / cover no-repeat fixed;
    border-image: fill 1 linear-gradient(var(--dark-color), rgb(0 0 0 / .5));
    position: relative;
    min-height: 50vh;
    padding-bottom: 150px;
    position: relative;
}

.newsletter-section p {padding-inline: 1rem}

.newsletter-section::before {
    content: '';
    position: absolute;
    inset: 0;
    backdrop-filter: saturate(0) blur(.5rem);
    z-index: -1;
}

/* EMBEDDED FORM */

#mc_embed_signup_scroll {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: max(300px, 60%);
    margin-inline: auto;
}

#email-label {position: absolute; visibility: hidden}

.submit-btn-mc {
    flex: 1 1 200px;
    font-size: clamp(1rem, 2vw, 1.2rem);
    border-radius: 1rem;
    font-weight: 600;
    background-color: transparent;
    border: 2px solid var(--accent-color);
    padding: 10px;
    transition: all 0.2s ease;
    cursor: pointer;
    &:hover {background-color: var(--accent-color)}
    &:active {background-color: rgb(214, 0, 0)}
}

.refferal-link-wrapper {
    position: absolute;
    bottom: 70px;
    right: 15vw;
}

@media (max-width: 500px) {
    #mc_embed_signup_scroll {gap: 10px}

    .refferal-link-wrapper {
        right: 50%;
        transform: translateX(50%);
    }

    .about-section .text-wrapper button {align-self: center}
}

/* ORIGINAL FORM */

.newsletter-section :is(form, h2, p) {z-index: 2}

#mce-responses {position: absolute}

.newsletter-section .input-wrapper {
    position: relative;
    flex: 1 1 300px;
    border-radius: 1rem;
    display: flex;
    align-self: center;
    justify-content: center;
}

input[type="email"] {
    padding: 10px;
    font-size: 1.2rem;
    width: 100%;
    border: none;
    border-radius: inherit;
    color: var(--dark-color);
    &:focus {outline: none}
}

.newsletter-section .input-wrapper::before,
.newsletter-section .input-wrapper::after {
    content: "";
    position: absolute;
    inset: -0.2rem;
    z-index: -1;
    background:
        conic-gradient(from var(--gradient-angle),
            rgb(255 0 0 / .7),
            rgb(255 0 0 / .2),
            rgb(255 0 0 / .2),
            rgb(255 0 0 / .7));
    border-radius: calc(1rem + .2rem);
    animation: rotation 2s linear infinite;
    transition: all 0.3s ease;
}

.newsletter-section .input-wrapper::after {
    filter: blur(2rem);
    opacity: 0.5;
}

.newsletter-section .input-wrapper:focus-within::before,
.newsletter-section .input-wrapper:focus-within::after {
    background:
        conic-gradient(from var(--gradient-angle),
            red,
            rgb(255 0 0 / .4),
            rgb(255 0 0 / .4),
            red);
    opacity: 0.7;
}